.mainColor {
  background-color: var(--main-color);
  width: 100%;
  height: 400px;
}

.secondaryColor {
  color: var(--secondary-color);
}

.mainAccentColor {
  color: var(--main-accent-color);
}

.secondaryAccentColor {
  color: var(--secondary-accent-color);
}