:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default is dark theme as a fallback */
  --main-color: #393e46;
  --secondary-color: #222831;
  --main-accent-color: #eee;
  --secondary-accent-color: #FD7014;

  background-color: var(--main-color);
  color: var(--main-accent-color);
}

* {
  /* css reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.highlight-text {
  color: var(--secondary-accent-color);
}

.btn {
  cursor: pointer;
  padding: 12px 20px;
  background-color: var(--secondary-accent-color);
  color: var(--main-accent-color);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--main-accent-color);
  color: var(--secondary-accent-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: bold;
}


